.slick-slide{
    height: auto !important;
}
.upload-design-section{min-height:385px;width:100%}.upload-design-section .section-img-wrapper{background-image:url(../images/bg-img2.png);background-repeat:no-repeat;background-size:cover;background-color:rgba(0,0,0,0);background-position:center center;height:auto;width:100%;margin:0px 0px;padding:0px;position:relative;background-attachment:fixed;color:#fff}.upload-design-section .section-img-wrapper .nav-pills-wrapper{background:rgba(68,68,68,.5);backdrop-filter:blur(2.5px)}.upload-design-section .section-img-wrapper .nav-pills-wrapper .nav-pills .nav-item .nav-link{background:rgba(0,0,0,.5)}.upload-design-section .section-img-wrapper .nav-pills-wrapper .nav-pills .nav-item .nav-link.active{background:#139ed9 !important}.upload-design-section .section-img-wrapper .nav-pills-wrapper.next-step .design-form-tab{display:none !important}.upload-design-section .section-img-wrapper .nav-pills-wrapper.next-step .contact-form-tab{display:block !important}.upload-design-section .contact-form-tab .contact-heading{background:rgba(0,0,0,.5)}.upload-design-section input::placeholder,.upload-design-section textarea::placeholder{color:#fff !important}.upload-design-section select{background-image:url(../../../img/home/frame.png) !important;background-size:13px 12px !important}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(0,0,0,0);
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: 4px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-theme1 {
    color: #000;
    background-color: #139ed9;
    background-image: var(--bs-gradient);
    border-color: #139ed9;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
    font-size: 14px;
}
.fs-14{
    font-size: 14px !important;
}
.me-1{
    margin-right: 5px;
}
.fs-20{
    font-size: 20px !important;
}
.nav-pills-wrapper{
    border-radius: 10px !important;
}
.p-3{
    padding: 16px !important;
}
.upload-design-section select {
    background-image: url(../images/frame.png) !important;
    background-size: 13px 12px !important;
}
.my-3{
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}
.my-2 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.Submit_btn{
    font-size: 16px;
}
.p-4{
    padding: 24px !important;
}
.mt-3{
    margin-top: 16px !important;
}
.mt-2{
    margin-top: 8px !important;
}

.Dummy_img{
    height: 200px !important;
}
.modal-header {
   
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.w-49{
    width: 49% !important;
}
/* album section */
.album-section .album-carousel .owl-stage-outer{padding:0 !important}.album-section .album-carousel .owl-stage-outer .album-img-wrapper .view-btn{background:rgba(0,0,0,.5);transition:.3s all}.album-section .album-carousel .owl-stage-outer .album-img-wrapper:hover .view-btn{opacity:1}.album-section .album-carousel .owl-nav button{position:absolute;background:#ffeded;width:40px;height:40px;border-radius:50px;display:flex;justify-content:center;align-items:center;top:50%;transform:translateY(-50%)}.album-section .album-carousel .owl-nav button.owl-prev{left:-20px;transition:.3s all}.album-section .album-carousel .owl-nav button.owl-prev:hover{left:-25px !important}.album-section .album-carousel .owl-nav button.owl-next{right:-20px;transition:.3s all}.album-section .album-carousel .owl-nav button.owl-next:hover{right:-25px !important}

.album-section .album-carousel .owl-nav button {
    position: absolute;
    background: #ffeded !important;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
}

.end-5{
    right: 5% !important;
}

.bottom-5{
    bottom: 5% !important;
}
.img-chevron-left:before {
    content: "";
}

/* about section view button model */
.product-modal .product-carousel .owl-stage-outer{padding:0 !important}.product-modal .product-carousel .owl-dots{text-align:center;margin-top:10px}.product-modal .product-carousel .owl-dots .owl-dot{height:60px;width:60px;margin-right:8px}.product-modal .product-carousel .owl-dots .owl-dot:first-child{background-image:url(../images/product11.png)}.product-modal .product-carousel .owl-dots .owl-dot:nth-child(2){background-image:url(../images/product22.png)}.product-modal .product-carousel .owl-dots .owl-dot:nth-child(3){background-image:url(../images/product33.png)}.product-modal .product-carousel .owl-dots .owl-dot:nth-child(4){background-image:url(../images/product44.png);margin-right:0 !important}

.fs-18{
    font-size: 18px !important;
}
.fs-12{
    font-size: 12px !important;
}
.text-theme1{
    color: #139ed9 !important;
}
.mb-2{
    margin-bottom: 8px !important;
}
.mb-3{
    margin-bottom: 16px !important;
}
.fw-bold{
    color: #000 !important;
}

.h-42px{
    height: 42px !important;
}
.rounded-8 {
    border-radius: 8px !important;
}
.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.view-btn{
    padding: 6px 13px !important;
}

.comman_color{
    color: #000 !important;
}

.button{--background: #139ed9;--text: #fff;--cart: #fff;--tick: var(--background);position:relative;border:none;background:none;padding:8px 28px;border-radius:8px;-webkit-appearance:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-mask-image:-webkit-radial-gradient(white, black);overflow:hidden;cursor:pointer;text-align:center;min-width:144px;color:var(--text);background:var(--background);transform:scale(var(--scale, 1));transition:transform .4s cubic-bezier(0.36, 1.01, 0.32, 1.27)}.button:active{--scale: 0.95}.button span{font-size:14px;font-weight:500;display:block;position:relative;padding-left:24px;margin-left:-8px;line-height:26px;transform:translateY(var(--span-y, 0));transition:transform .7s ease}.button span:before,.button span:after{content:"";width:var(--w, 2px);height:var(--h, 14px);border-radius:1px;position:absolute;left:var(--l, 8px);top:var(--t, 6px);background:currentColor;transform:scale(0.75) rotate(var(--icon-r, 0deg)) translateY(var(--icon-y, 0));transition:transform .65s ease .05s}.button span:after{--w: 14px;--h: 2px;--l: 2px;--t: 12px}.button .cart{position:absolute;left:50%;top:50%;margin:-13px 0 0 -18px;transform-origin:12px 23px;transform:translateX(-120px) rotate(-18deg)}.button .cart:before,.button .cart:after{content:"";position:absolute}.button .cart:before{width:6px;height:6px;border-radius:50%;box-shadow:inset 0 0 0 2px var(--cart);bottom:0;left:9px;filter:drop-shadow(11px 0 0 var(--cart))}.button .cart:after{width:16px;height:9px;background:var(--cart);left:9px;bottom:7px;transform-origin:50% 100%;transform:perspective(4px) rotateX(-6deg) scaleY(var(--fill, 0));transition:transform 1.2s ease var(--fill-d)}.button .cart svg{z-index:1;width:36px;height:26px;display:block;position:relative;fill:none;stroke:var(--cart);stroke-width:2px;stroke-linecap:round;stroke-linejoin:round}.button .cart svg polyline:last-child{stroke:var(--tick);stroke-dasharray:10px;stroke-dashoffset:var(--offset, 10px);transition:stroke-dashoffset .4s ease var(--offset-d)}.button.loading{--scale: 0.95;--span-y: -32px;--icon-r: 180deg;--fill: 1;--fill-d: 0.8s;--offset: 0;--offset-d: 1.73s}.button.loading .cart{animation:cart 3.4s linear forwards .2s}@keyframes cart{12.5%{transform:translateX(-60px) rotate(-18deg)}25%,45%,55%,75%{transform:none}50%{transform:scale(0.9)}44%,56%{transform-origin:12px 23px}45%,55%{transform-origin:50% 50%}87.5%{transform:translateX(70px) rotate(-18deg)}100%{transform:translateX(140px) rotate(-18deg)}}



@media (min-width: 767px){
    .fs-md-25{
        font-size: 25px !important;
    }
    .d-md-block{
        display: block !important;
    }
    .view-btn {
        opacity: 0;

    }
    .p-md-2{
        padding: 8px !important;
    }
    .px-md-2{
        padding: 0px 8px !important;
    }
    .modal-dialog{
        max-width: 748px !important;
      }
}
@media (max-width: 767px){
    .nav-pills{
        overflow-y: auto;
        flex-wrap: nowrap !important;
    }
    ::-webkit-scrollbar{
        display: none;
    }
   
    .product-img-wrapper{
        border-radius: 0px 0px 30px 30px;
        overflow: hidden;
      }
      .modal-header{
        position: absolute;
        z-index: 5;
      }
    .owl-dots{
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;}
        .owl-dot{
            margin-bottom: 8px;
            border: 4px solid white;
            border-radius: 8px;
          }
}
@media (max-width: 500px){
    .nav-item{
        flex: 0 0 200px;
    }
}
@media (max-width: 375px){
    .Dummy_img {
        height: 170px !important;
    }
}


